<html>

<head>
    <title>Page Title</title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <form method="POST" action="/update">
        <input id="userName" name="userName" />Nombre
        <input id = "password" name="password" />Contraseña 
        <input type="submit" value="Modificar"/>
    </form>

</body>

</html>
