<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet">
        <title>Page Title</title>
    </head>
    <body>
        <h1>Menú principal </h1>
        <a href="insertar">Insertar</a>
        <br/>
        <a href="buscar">Buscar</a>

    </body>
</html>
